#wordGuessDiv, #keyboardsDiv, body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    text-align: center;
}

#wordGuessDiv > *, #keyboardsDiv > * {
    margin: 10px auto 0px auto;
}

#wordGuessDiv > #targetWord, #guessWord {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#wordGuessDiv > #targetWord > * {
    margin: 10px 10px 0px 10px;
}

#wordGuessDiv > #guessWord > * {
    margin: 10px 10px 0px 10px;
}

#newWord {
    margin: 17em auto 0px auto;
}

number-pad {
    display: none;
}