#wordGuessDiv, #keyboardsDiv, body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    text-align: center;
}

#wordGuessDiv > *, #keyboardsDiv > *, #gotoAddWord {
    margin: 10px auto 0px auto;
}

#wordGuessDiv > #targetWord, #guessWord {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#wordGuessDiv > #targetWord > * {
    margin: 10px 10px 0px 10px;
}

#wordGuessDiv > #guessWord > * {
    margin: 10px 10px 0px 10px;
}

#newWord {
    margin: 17em auto 0px auto;
}

number-pad {
    display: none;
}

#toggleThemeButton {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 3em;
}

#howtoButton {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 3em;
}

#howtoDiv {
    display: none;
    position: absolute;
    background-color: #333;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#howtoDiv > p {
    text-align: center;
}

.darkThemeElement {
    background-color: #333;
    color: #eee;
}

.darkThemeButton {
    background-color: #333;
    color: #eee;

    border-width: 2px;
    border-style: solid;
    border-color: #bbb;
}

.darkThemeIconButton {
    background-color: #000;
}

.darkThemeBody {
    background-color: #000;
    color: #eee;
}

.lightThemeElement {
    background-color: #ddd;
    color: #222;
}

.lightThemeButton {
    background-color: #ddd;
    color: #222;

    border-width: 2px;
    border-style: solid;
    border-color: #555;
}

.lightThemeIconButton {
    background-color: #fff;
}

.lightThemeBody {
    background-color: #fff;
    color: #000;
}