.tileSet {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.tile {
    position: relative;
    width: 100%;
    min-width: 50px;
    padding: .25rem;
    margin: 10px 7px 0px 7px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    aspect-ratio: 1 / 1;
}

.darkThemeTile {
    background-color: #333;
    color: #eee;

    border-width: 2px;
    border-style: solid;
    border-color: #bbb;
}

.lightThemeTile {
    background-color: #ddd;
    color: #222;

    border-width: 2px;
    border-style: solid;
    border-color: #555;
}

.tile > p {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.blankTile.darkThemeTile {
    background-color: #333;
}

.blankTile.lightThemeTile {
    background-color: #ddd;
}

.correctTile.darkThemeTile {
    background-color: #0a0;
}

.correctTile.lightThemeTile {
    background-color: #0f0;
}

.almostTile.darkThemeTile {
    background-color: #aa0;
}

.almostTile.lightThemeTile {
    background-color: #ff0;
}

@media screen and (max-width: 700px) {
    .tile > p {
        font-size: 1.25rem;
    }

    .tile {
        min-width: 5.75vw;
        margin: 5px 2px 0px 2px;
    }
}

@media screen and (max-width: 400px) {
    .tile > p {
        font-size: 1rem;
    }

    .tile {
        min-width: 5vw;
        margin: 5px 2px 0px 2px;
    }
}