<!DOCTYPE html>
<html lang='en'>
<head>
    <title>syfer</title>
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <link rel='icon' type='image/x-icon' href='/assets/images/favicon.ico'>
    <link rel='stylesheet' href='/assets/style/challengesStyle.css'>
    <script src='/assets/challengesMenuBundle.js' type='module'></script>
</head>
<body class='darkThemeBody'>
    <input id='toggleThemeButton' class='darkThemeIconButton' type='image' src='/assets/images/lightBulbDarkTheme.png'>
    <p class='darkThemeTitle'>syfer challenges</p>
    <p c;ass='darkThemeElement'>challenges can be a series of related words, a sentence, or things that aren't words like a book title</p>
    <p class='darkThemeSubtitle'>movie quotes</p>
    <a class='darkThemeLink' href='/play-challenge?movieQuote=0'>movie quote 1</a>
    <a class='darkThemeLink' href='/play-challenge?movieQuote=1'>movie quote 2</a>
</body>
</html>