<!DOCTYPE html>
<html lang='en'>
<head>
    <title>syfer daily</title>
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <link rel='icon' type='image/x-icon' href='/assets/images/favicon.ico'>
    <link rel='stylesheet' href='/assets/style/gameStyle.css'>
    <script src='/assets/dailyBundle.js' type='module'></script>
</head>
<body class='darkThemeBody'>
    <input id='howtoButton' type='image' src='/assets/images/questionDarkTheme.png'>
    <input id='toggleThemeButton' type='image' src='/assets/images/lightBulbDarkTheme.png'>

    <a id='homeLink' class='darkThemeLink' href='/'>home</a>

    <div id='wordGuessDiv'>
        <div id='targetWord'></div>
        <div id='guessWord'></div>
        <p id='letterGuessOutput'></p>
    </div>

    <div id='keyboardsDiv'>
        <div id="keyboard"></div>
        <div id="numpad"></div>
    </div>

    <div id='shareDiv' class='shareDivDarkTheme'>
        <div class='shareHeader'><p>share how you did</p></div>
        <div class='shareButtonContainer'>
            <a id='longShareTab' class='selectedShareTab'>long form</a>
            <a id='shortShareTab' class='unSelectedShareTab'>short form</a>
        </div>
        <button id='copyShare' class='darkThemeButton'>copy</button>
        <p id='shareStreak'></p>
        <p id='shareText'></p>
    </div>

    <div id='howtoDiv' class='darkThemeElement'>
        <p>how to play syfer</p>
        <p>you are given an encrypted word</p>
        <p>each number in the encrypted word corresponds to a letter</p>
        <p>the numbers are random and don't correspond to a letter's position in the alphabet but they are always increasing in alphabetical order</p>
        <p>guess letters you think are in the word, if you guess a letter that's in the word you then have to guess what number that letter is</p>
    </div>
    <div class='cover'></div>
</body>
</html>