<!DOCTYPE html>
<html lang='en'>
<head>
    <title>syfer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' type='image/x-icon' href='/assets/images/favicon.ico'>
    <link rel='stylesheet' href='/assets/style/galleryStyle.css'>
    <script src='/assets/galleryBundle.js' type='module'></script>
</head>
<body class='darkThemeBody'>
    <input id='toggleThemeButton' class='darkThemeIconButton' type='image' src='/assets/images/lightBulbDarkTheme.png'>
    <a id='homeLink' class='darkThemeLink' href='/'>home</a>
    <a id='resetButton' class='darkThemeLink'>reset words</a>

    <div id='wordList'></div>
</body>
</html>