<!DOCTYPE html>
<html lang='en'>
<head>
    <title>syfer</title>
    <link rel='icon' type='image/x-icon' href='/assets/images/favicon.ico'>
    <link rel='stylesheet' href='/assets/style/homeStyle.css'>
    <script src='/assets/homeBundle.js' type='module'></script>
</head>
<body class='darkThemeBody'>
    <input id='toggleThemeButton' class='darkThemeIconButton' type='image' src='/assets/images/lightBulbDarkTheme.png'>
    <p id='title' class='darkThemeTitle'>syfer</p>
    <a id='dailyLink' class='darkThemeLink' href='/daily'>daily</a>
    <a id='playLink' class='darkThemeLink' href='/play'>free play</a>
    {{!-- <a id='challengesLink' class='darkThemeLink' href='/challenges'>challenges</a> --}}
</body>
</html>